- const cap = string => {
-  var r = string.charAt(0).toUpperCase() + string.slice(1);
-  r = r.split('_').join(' ');
-  return r;
- }
doctype html
// source code found at https://github.com/askmike/gekko.wizb.it 
html(lang="en")
  head
    link(rel='stylesheet', href= root + '/_static/style.css')
    if isDoc
      title= title + ' - Gekko'
    else
      title Gekko - Open source bitcoin trading bot platform
    link(rel="apple-touch-icon",sizes="57x57",href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon",sizes="60x60",href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon",sizes="72x72",href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon",sizes="76x76",href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon",sizes="114x114",href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon",sizes="120x120",href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon",sizes="144x144",href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon",sizes="152x152",href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon",sizes="180x180",href="/apple-icon-180x180.png")
    link(rel="icon",type="image/png",sizes="192x192",href="/android-icon-192x192.png")
    link(rel="icon",type="image/png",sizes="32x32",href="/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="96x96",href="/favicon-96x96.png")
    link(rel="icon",type="image/png",sizes="16x16",href="/favicon-16x16.png")
    link(rel="manifest",href="/manifest.json")
    meta(name="msapplication-TileColor",content="#ffffff")
    meta(name="msapplication-TileImage",content="/ms-icon-144x144.png")
    meta(name="theme-color",content="#ffffff")
  body
    a(href='https://github.com/askmike/gekko')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png')
    nav
      .header
        h1
          a(href='/') Gekko
        ul
          li
            a(href='/docs') documentation
          li
            a(href='/docs/installation/installing_gekko.html') download
          li
            a(href='https://github.com/askmike/gekko', target='_blank') github
    //- documentation page template
    if isDoc
      .content
        nav.menu
          each folder in nav
            h2= cap(folder.name)
            ul
              each page in folder.content
                li
                  a(href=root + '/docs/' + folder.name + '/' + page.toLowerCase() + '.html')= cap(page)
        main!= html
      footer
        p
          em Copyright &copy; #{new Date().getFullYear()}
          | 
          a(href='https://mikevanrossum.nl/', target='_blank') Mike van Rossum
          |  (&amp; 
          a(href='https://github.com/askmike/gekko/graphs/contributors', target='_blank') other contributors
          | )
        p
          em tip jar (BTC) 13r1jyivitShUiv9FJvjLH7Nh1ZZptumwW
    //- homepage
    else
      .hero
        .box
          h1 From market data to usable insights
          h2 Gekko is an open source platform for automating trading strategies over bitcoin markets.
          .cta
            a(href='/docs/') Get started!
            a(href='https://forum.gekko.wizb.it') Community
      .buttons
        a(class='github-button', href='https://github.com/askmike/gekko', data-style="mega", data-count-href="/askmike/gekko/stargazers", data-count-api="/repos/askmike/gekko#stargazers_count", data-count-aria-label="# stargazers on GitHub", aria-label="Star askmike/gekko on GitHub", target='_blank') Star
        |  
        a(target='_blank', href='https://www.npmjs.com/package/gekko')
          img(src='https://img.shields.io/npm/dm/gekko.svg', width='134')
        script(async, defer, src='https://buttons.github.io/buttons.js')
      .gist
        h2 Gekko in nutshell
        p Define your own trading strategy and Gekko will take care of everything else.
        img(src='/_static/gekko-gist.png', width='559')
        p Gekko will take care of:
        ul
          li Aggregating live market data
          li Calculating indicators
          li Executing live orders (tradebot)
          li Simulating order execution (paper trader)
          li Calculating profit and risk metrics
          li Graphing the results in a web interface
          li Managing and importing historical market data
          li Simulating live markets using historical data (backtesting)
      .blocks
        .block
          h2 Open Source
          p Gekko is free and 100% open source, you download and run the software on your own machine. Gekko only talks to the exchanges (if you want it too). We don't know anyhing about your strategies, usage, portfolio size or anything else (unless you tell us).
        .block
          h2 Exchange support
          p Gekko supports #{amountOfExchanges} different exchanges (including Bitfinex, Bitstamp and Poloniex). Just tell Gekko which exchange you want to interact with and Gekko talks directly to the exchange.
        .block
          h2 Strategy Platform
          p Gekko makes it possible to create your own trading strategies using TA indicators. Once you created it you can use Gekko to backtest your strategy over historical market data or run against the live market (using either a paper trader or real trader - making it a trading bot).
        .block
          h2 Plugin system
          p Using plugins Gekko is able to update you wherever you are! Plugins are available for IRC, telegram, email and a lot of other platforms. Without effort you are able to add your own plugins to Gekko.
        .block
          h2 Web interface
          p Gekko comes with a webinterface (written from scratch) that let's you monitor your local data, strategies and can run backtests and visualize the results.
        .block
          h2 Runs anywhere
          p Gekko runs flawlessly on all major operating systems (Windows, Linux, macOS), you can run it in the cloud or on your raspberry PI without any problems!
      .contact
        h2 Contact
        p If you have any issue with Gekko please post 
          a(href='https://github.com/askmike/gekko/issues/', target='_blank') an issue on Github
          | . For any other further questions please contact Mike at 
          a(href='mailto:gekko@mvr.me', target='_blank') mike@mvr.me
          | .
      footer
        p
          em Copyright &copy; #{new Date().getFullYear()}
          | 
          a(href='https://mikevanrossum.nl/', target='_blank') Mike van Rossum
          |  (&amp; 
          a(href='https://github.com/askmike/gekko/graphs/contributors', target='_blank') other contributors
          | )
    script.
      console.log('source code found at https://github.com/askmike/gekko.wizb.it/');

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47055020-5', 'auto');
      ga('send', 'pageview');
